---
- name: "Ensure group {{item}} exists"
  group:
    name: "{{item}}"
    state: present
  with_items:
    - "{{service_accounts}}"

- name: "Ensure the user {{item}} with a bash shell, appending the group {{item}}"
  user:
    name: "{{item}}"
    shell: /bin/bash
    groups: "{{item}}"
    append: yes
  with_items:
    - "{{service_accounts}}"

- pam_limits:
    domain: "{{item}}"
    limit_type: hard
    limit_item: nofile
    value: 65555
  with_items:
    - "{{service_accounts}}"

- sysctl:
    name: vm.max_map_count
    value: 262644
    state: present

- name: "Create a 2048-bit SSH key for user {{item}} in /home/{{item}}/.ssh/id_rsa"
  user:
    name: "{{item}}"
    generate_ssh_key: yes
    ssh_key_bits: 2048
    ssh_key_file: .ssh/id_rsa
  with_items:
    - "{{service_accounts}}"