dn: {{ldap_root_dn_suffix}}
objectclass: dcObject
objectclass: organization
o: Admin amitthk
dn: cn={{ldap_adm_id}},{{ldap_root_dn_suffix}}
objectclass: organizationalRole
cn: {{ldap_adm_id}}
uid: {{ldap_adm_id}}
