---
- name: "Ensure group {{item}} exists"
  group:
    name: "{{item}}"
    state: present
  with_items:
    - "{{service_accounts}}"

- name: "Ensure the user {{item}} with a bash shell, appending the group {{item}}"
  user:
    name: "{{item}}"
    shell: /bin/bash
    groups: "{{item}}"
    append: yes
  with_items:
    - "{{service_accounts}}"

- pam_limits:
    domain: "{{item}}"
    limit_type: hard
    limit_item: nofile
    value: 65555
  with_items:
    - "{{service_accounts}}"

- sysctl:
    name: vm.max_map_count
    value: 262644
    state: present

- name: "Create a 2048-bit SSH key for user {{item}} in /home/{{item}}/.ssh/id_rsa"
  user:
    name: "{{item}}"
    generate_ssh_key: yes
    ssh_key_bits: 2048
    ssh_key_file: .ssh/id_rsa
  with_items:
    - "{{service_accounts}}"

- name: set passwords for users
  include_tasks: set-random-passwd.yml
  with_items:
    - "{{service_accounts}}"

- name: set random password for root as well
  include_tasks: set-random-passwd.yml
  with_items:
    - root

- name: remove sudo
  lineinfile:
    path: /etc/sudoers
    state: absent
    regexp: '^%.* ALL=(ALL) NOPASSWD: ALL'
    validate: '/usr/sbin/visudo -cf %s'

- name: find more sudoer files
  find:
    paths: "/etc/sudoers.d/"
    patterns: "*"
  register: sudoer_files

- debug: msg="{{sudoer_files}}"

- name: remove sudo
  lineinfile:
    path: "{{item.path}}"
    state: absent
    regexp: '^%.*NOPASSWD:\s{1,}ALL'
    validate: '/usr/sbin/visudo -cf %s'
  with_items: "{{ sudoer_files.files }}"

