---
- name: display the password in build. Note it carefully. (Not in Prod. We must lodge it into Vault)
  debug:
    var: harden_default_password

- name: "Save the passwords to local dir for future reference"
  copy:
    content: "{{item}} :  {{harden_default_password}}"
    dest: "/root/{{item}}_password"

- name: "Set the password for {{item}}"
  user:
    name: "{{item}}"
    password: "{{harden_default_password}}"
